body {
	background-color: black;
	display:flex;
	flex-direction: column;
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	color: seashell;
	text-align: center;
	margin: 0;
}

/*three boxes overall setting*/

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*main body under header*/

.main {
	display:block;
	flex-direction: column;
	align-content: center;
	margin:auto;
}


/*header section*/

header {
	background-color: black;
	display:flex;
	position: fixed;
	width: 100%;
	height: 69px;
	color: seashell;
	z-index: 5;
	justify-content: center;
	border-bottom: 1px solid seashell;
}


 header img {
	padding: 10px;
	height: 50px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav span {
	display: inline-block;
	padding: 20px 10px;
}

nav a {
	font-family: Helvetica;
	font-size: 22px;
	opacity: 0.9;
	color: seashell;
}

/*mission section*/

#box1 {
	padding-top: 70px;
	height: 700px;
	width: 1200px;
	background-image: url(image/img-mission-background.jpg);
}

#box1 .s1 {
	margin: auto;
	background-color: black;
	width: 100%;
	text-align: center;
}


/*Tea of the Month section*/

#box2 {
	width: 1000px;
	text-align: center;
	margin-bottom: 70px;
}

#box2 {
	justify-content: center;
	margin-left: 100px;
	margin-right: 100px;
}

#box2 img {
	display: block;
	width: 300px;
	height: 200px;
	margin: 10px;
}

.item {
	display: block;
	padding: 5px;
}


/*location*/

#box3 {
	display:flex;
	flex-direction: column;
	background-image: url(image/img-locations-background.jpg);
	width: 1200px;
	height: 500px;
	margin:0;
}

#bo3 h2 {
	display: block;
	font-size: 1.5em;
}

#box3 .alocation {
	display:flex;
    justify-content: center;
}

#box3 .location {
	background-color: black;
	width: 300px;
	margin: 20px;
}

#box3 .location3 {
	background-color: black;
	width: 300px;
	margin: 20px;
	opacity: 1;
}

/*contact*/

#box4 {
	background-color: black;
	display:block;
	height: 200px;
}

/*footer*/

footer {
	text-align: left;
	margin-left: 20px;
}